* {
    background-color: #1f1f1f;
  box-sizing: border-box;
}

body {
  max-width: 90%;
  margin: 50px auto;
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-title,
.h3 {
  font-size: larger;
  font-weight: bolder;
}

.main-title,
.btn {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  border: none;
  padding: 20px 40px;
  font-size: 2rem;
  cursor: pointer;
 border-radius: 20px;
